ops.json
banned-players.json
banned-ips.json
usercache.json
whitelist.json
usernamecache.json

world
logs
libraries
libraries/net
libraries/net/minecraft
libraries/net/minecraft/launchwrapper
libraries/net/minecraft/launchwrapper/1.12
config
config/sponge
.mixin.out
.mixin.out/audit