*__pycache__*
*.pyc
.env
.vscode
pyrightconfig.json
*.swp
.python-version
wandb
wandb-debug.log
__pycache__
.ipynb_checkpoints
.DS_Store
doc/*.aux
doc/**/*.aux
doc/**/*.bbl
doc/**/*.blg
doc/**/*.latexmk
doc/**/*.log
doc/**/*.fls
doc/**/*.gz
doc/**/*.fdb_latexmk
doc/*.latexmk
doc/*.fdb_latexmk
synctex.gz
doc/*.log
doc/*.fls
**/wandb/
.history
**/*smb_turtle*/**/*.pkl


**/self/**
**/min/**
**/max/**
!**/max/**/gen_*00.*
**/alls/**
!**/alls/**/gen_*00.*
!**/self/**/gen_*00.*
all_levels
!**/alls/**/gen_*00.*
!**/self/**/gen_*00.*

**/self/**/gen_600.*
**/self/**/gen_700.*
**/self/**/gen_1300.*
**/self/**/gen_1400.*
**/self/**/gen_1600.*
**/self/**/gen_1700.*
**/self/**/gen_1800.*
**/self/**/gen_1900.*